block variables

doctype html
html(lang="ru")
  head
    link(rel="icon" type="image/png" href=require('~Img/favicon.png'))
    title #{title}
    link(href=require('~Common/common.scss') rel='stylesheet')
    block styles
  body
    block content
    block scripts