block variables

doctype html
html(lang="ru")
  head
    title #{title}
    block styles
  body

//- doctype html
//- html(lang="ru")
//- 	head
//- 		title #{title}
//- 		block styles
//-   body
//- 		block content
//- 		block footer
//- 		block scripts