doctype html
html(lang="en")
  include _partials/head
  body 

    h1 Pug
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
      | Minus excepturi magni cum labore impedit culpa ut laborum quisquam dolor sed? Recusandae iste, beatae minima cum laboriosam ab adipisci
      | nihil esse.

  