extends ../../includes/layout.pug
block variables
  - var title = 'Index page'
block styles
  link(href=require('./index.scss') rel='stylesheet')
block content 
  h1 Index
  p
    button(type="button" class="btn") Button
  div
    img(src=require('~Img/bg.jpg') alt="Example" width="500")
  div
    h2 Background image
    div.bg-img
block scripts
  script(src=require('./index.js') defer)

  