extends ../../includes/layout.pug
block variables
  - var title = 'About page'
block styles
  link(href=require('./about.scss') rel='stylesheet')
block content 
  h1 About page
block scripts
  script(src=require('./about.js') defer)
    